a {
	text-decoration: none;
}
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
a, ul, li  {
	margin: 0;
	padding: 0;
}

body {
	font-family: "OpenSans", sans-serif;
}
h1 {
	font-size: 90px;
}
h2 {
	font-size: 80px;
	font-weight: bold;
}
/*HEADER*/
header {
	background: url(../images/football_1920.png) no-repeat;
	background-size: cover;
	max-width: 100%;
	text-transform: uppercase;
	color: #fff;
}
.follow-me__icon {
	width: 191px;
	height: 52px;
	fill: #fff;
	display: block;
	margin: 0 auto;
}
header .follow-me__icon {
	padding-top: 2.3%;
	padding-bottom: 15.62%;
}
.recruited-indent {
	padding-left: 12.24%;
	font-weight: bold;
	display: block;
}
.college-indent {
	padding-left: 33.43%;
	font-weight: bold;
	display: block;
}
.buttons {
	display: flex;
	justify-content: center;
	padding-bottom: 5.7%;
	padding-top: 11.5%;
}
.btn {
	color: #fff;
	background: #5e42b0;
	padding: 14px 57px 14px 0;
	border-radius: 25px;
	margin-right: 24px;	
	position: relative;
	width: 310px;
	box-sizing: border-box;
	font-size: 14px;
}
.btn:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 50px;
}
.btn1 {
	padding-left: 105px;
}
.btn2 {
	padding-left: 127px;
}
.btn1:before {
	background: url(../images/apple-logo.png) no-repeat;
	top: 6px;
	left: 40px;
}
.btn2:before {
	background: url(../images/google-logo.png) no-repeat;
	top: 6px;
	left: 57px;	
}
a.btn span {
	font-weight: bold;
}
/*modul_1*/

.footballer-img {
	position: relative;
}
.footballer-img img {
	position: absolute;
	max-width: 35%;
	left: 20.5%;
	padding-top: 1.4%;
}
.athlets h2, .players h2{
	color: #e7e7e7;
}
.athlets h3, .players h3 {
	font-size: 36px;
	color: #c1c1c1;
	text-transform: uppercase;
}
.connection h3, .collaboration h3, .growth h3  {
	position: relative;
	margin-left: 30px;
}
.connection h3:before, .collaboration h3:before, .growth h3:before {
	display: block;
	position: absolute;
	top: 8px;
	left: -30px;
	font-size: 18px;
	border-bottom: 4px solid #5e42b0;
	color: #000;
}
.connection h3:before {
	content: '01';	
}
.collaboration h3:before {
	content: '02';
}
.growth h3:before {
	content: '03';
	border-bottom: 4px solid #efefef;
}
.athlets p, .players p {
	font-size: 20px;
	margin-top: 20px;
}
.athlets .growth p {
	color: #fff;
}
.athlets h2, .athlets .connection, .athlets .collaboration, .athlets .growth {
	padding: 3.1% 10.15% 3.1% 52.6%;
}
.connection {
	background: #fff;
}
.collaboration {
	background: #f6f4fa;
}
.growth {
	background: #5e42b0;
}
/*modul_2*/ 

.players h2, .players .connection, .players .collaboration, .players .growth {
	padding: 3.1% 50.7% 3.1% 10.05%;
}
.modul_2 {
	
}
.basketballer-img {
	position: relative;
	width: 100%;
}
.basketballer-img img {
	position: absolute;
	max-width: 50%;
	right: 5%;
	padding-top: 1%;
}

.players .growth {
	background: #0a0e34;
}
.players .growth p {
	color: #fff;
}
.players .growth h3:before {
	color: #9173e6;
}
/*modul_3*/ 
.modul_3 h3 {
	color: #e7e7e7;
	text-transform: uppercase;
}
.content {
	display: flex;
	justify-content: space-between;
	max-width: 1920px;
	position: relative;	
}
.content img.poster_order {
	order: 1;
}
.content-number {
	position: absolute;
	background: #5e42b0;
	padding: 3.125% 3.65%;
	left: 45%;    
}
.content-number--01 {
	top: 12%;
}
.content-number--02 {
	top: 25%;	
}
.content-number--03 {
	top: 25%;	
}
.content-number span {
	border-bottom: 4px solid #8f7bc8;
	font-size: 24px;
	color: #fff;
}
.content img, .text-description{
	width: 50%;
	height: 50%;
	align-items: flex-start;
}
.text-description {
	padding-left: 6.7%;
}
.text-description h3{
	font-size: 80px;
	padding-top: 25.2%;
	padding-bottom: 12%;
}
.text-description p {
	max-width: 590px;
	font-size: 24px;
	margin-left: 5px;
}

/*footer*/
footer {
	background: url(../images/game_1920.png) no-repeat;
	background-size: cover;
	max-width: 100%;
	text-transform: uppercase;
	color: #fff;
}
.footer-top {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 11.4%;
	padding-bottom: 7.6%;
}
.download-app {
	font-size: 80px;
	padding-left: 1.8%;
}
.download-app p {
	color: #a496ca;
	font-size: 28px;
}
footer .follow-me__icon {
	padding-top: 8.8%;
	padding-bottom: 2.62%;
}



@media (max-width: 960px) {
	h1 {
		font-size: 64px;
	}
	.recruited-indent {
		padding-left: 13.9%;
	}
	.college-indent {
		padding-left: 24.2%;		
	}
	.athlets h3, .players h3 {
		font-size: 32px;
	}
	.athlets p, .players p {
		font-size: 16px;
	}
	.athlets h2, .athlets .connection, .athlets .collaboration, .athlets .growth {
		padding: 4.1% 3.3% 4.1% 37.1%;
	}
	.footballer-img img {
		max-width: 50%;
		left: -17%;
		padding-top: 5.4%;
	}
	.players h2, .players .connection, .players .collaboration, .players .growth {
		padding: 4.1% 46% 4.1% 3.1%;
	}
	.basketballer-img img {
		right: 0;
    	max-width: 70%;
		padding-top: 5%;
	}
	.content {
		flex-wrap: wrap;
	}
	.content img, .text-description{
		width: 100%;		
	}
	.content-number--01 {
	    top: 62%;
	    left: 4%;
	}
	.content img.poster_order {
		order: 0;
	}
	.text-description {
		padding-left: 6.7%;
	}
	.text-description h3{
		padding-top: 10.2%;
		padding-bottom: 2%;
	}
	.text-description p {
		padding-bottom: 10.9%
	}
	.content-number--01 {
	    top: 62%;
	    left: 4%;
	}
	.content-number--02 {
		top: 62%;
		left: 4%;	
	}
	.content-number--03 {
		top: 60%;
		left: 4%;	
	}
	.footer-top {
		flex-direction: column;
		text-align: center;
	}	
	.download-app {
		padding-left: 0;
	}
}
@media (max-width: 640px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 50px;		
	}
	.recruited-indent {
		padding-left: 6.25%;
	}
	.college-indent {
		padding-left: 20.3%;		
	}
	.buttons {
	    flex-direction: column;
	    align-items: center;
	    padding-bottom: 21.8%;
	    padding-top: 26.8%;
	}
	.btn {		
		
		width: 275px;
		font-size: 8px;
		margin-bottom: 5%;
		margin-left: 5%;
	}
	.btn1 {
		padding-left: 115px;

	}
	.btn2 {
		padding-left: 115px;
	}
	.btn1:before {
		background: url(../images/apple_logo_320.png) no-repeat;
		top: 12px;
		left: 82px;
	}
	.btn2:before {
		background: url(../images/google-logo-320.png) no-repeat;
		top: 12px;
		left: 82px;
			
	}
	.athlets h3, .players h3 {
		font-size: 23px;
	}
	.athlets p, .players p {
		font-size: 15px;
	}
	.connection h3:before, .collaboration h3:before, .growth h3:before {
	    top: 4px;
	    font-size: 15px;
	}
	.modul_1 h2, .modul_2 h2{
		margin-bottom: 50%;
	}
	.athlets h2, .athlets .connection, .athlets .collaboration, .athlets .growth {
		padding: 18.75% 6.25% 18.75% 6.25%;
	}
	.athlets h2 {
		padding-top: 4%;
	}
	.footballer-img img {
		max-width: 50%;
		left: 25%;
		padding-top: 19%;
	}
	 .players .connection, .players .collaboration, .players .growth {
		padding: 18.75% 6.25% 18.75% 6.25%;
	}
	.basketballer-img img {
		right: 11%;
    	max-width: 80%;
		padding-top: 19%;
	}
	.text-description h3{
		font-size: 28px;
		padding-top: 8%;
		padding-bottom: 2%;
	}
	.text-description p {
		font-size: 16px;
		margin-left: 0;
	}
	.content-number--01 {
	    top: 55%;
	    left: 7%;
	}
	.content-number--02 {
		top: 55%;
		left: 7%;	
	}
	.content-number--03 {
		top: 50%;
		left: 7%;	
	}
	.footer-top {
		padding-top: 37.5%
	}	
	.download-app {
		width: 280px;
	}
	.download-app h2 {
		font-size: 32px;
		padding-left: 1.8%;
		padding-top: 10%;
	}
	.download-app p {
		color: #a496ca;
		font-size: 14px;
	}
	footer .follow-me__icon {
		padding-top: 8.8%;
		padding-bottom: 2.62%;
	}
}