a, ul, li {
	text-decoration: none;
}
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
a, ul, li  {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'OpenSans-Regular', sans-serif;
}
h1 {
	font-size: 80px;
	font-family: 'OpenSans-Bold', sans-serif;
}
h2 {
	font-family: 'OpenSans-Bold', sans-serif;
}
/*HEADER*/
header {
	background: url(../images/football_1920.png) no-repeat;
	background-size: cover;
	max-width: 100%;
	text-transform: uppercase;
	color: #fff;
}
.follow-me__icon {
	width: 191px;
	height: 52px;
	fill: #fff;
	display: block;
	margin: 0 auto;
}
header .follow-me__icon {
	padding-top: 2.3%;
	padding-bottom: 15.62%;
}
.recruited-indent {
	padding-left: 12.24%;
}
.college-indent {
	padding-left: 33.43%;
	padding-bottom: 11.5%;
}
.buttons {
	display: flex;
	justify-content: center;
	padding-bottom: 5.7%;
}
.btn {
	color: #fff;
	background: #5e42b0;
	padding: 14px 57px 14px 0;
	border-radius: 25px;
	margin-right: 24px;	
	position: relative;
	width: 310px;
	box-sizing: border-box;
	font-size: 14px;
}
.btn:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 50px;
}
.btn1 {
	padding-left: 105px;
}
.btn2 {
	padding-left: 127px;
}
.btn1:before {
	background: url(../images/apple-logo.png) no-repeat;
	top: 6px;
	left: 40px;
}
.btn2:before {
	background: url(../images/google-logo.png) no-repeat;
	top: 6px;
	left: 57px;	
}
a.btn span {
	font-family: 'OpenSans-Bold', sans-serif;
}
/*modul_1*/
.modul_1 {

}
.footballer-img {
	position: relative;
}
.footballer-img img {
	position: absolute;
	max-width: 50%;
	left: 20.5%;
	padding-top: 1.4%;

}
.athlets h1, .players h1{
	color: #e7e7e7;
}
.athlets h2, .players h2 {
	font-size: 36px;
	color: #c1c1c1;
	text-transform: uppercase;
}
.connection h2, .collaboration h2, .growth h2  {
	position: relative;
	margin-left: 30px;
}
.connection h2:before, .collaboration h2:before, .growth h2:before {
	display: block;
	position: absolute;
	top: 8px;
	left: -30px;
	font-size: 18px;
	border-bottom: 4px solid #5e42b0;
	color: #000;
}
.connection h2:before {
	content: '01';

}
.collaboration h2:before {
	content: '02';
}
.growth h2:before {
	content: '03';
	border-bottom: 4px solid #efefef;
}
.athlets p, .players p {
	font-size: 20px;
	margin-top: 20px;
}

.athlets h1, .athlets .connection, .athlets .collaboration, .athlets .growth {
	padding: 3.1% 10.15% 3.1% 52.6%;
}
.connection {
	background: #fff;
}
.collaboration {
	background: #f6f4fa;
	
}
.growth {
	background: #5e42b0;
}
/*modul_2*/ 

.players h1, .players .connection, .players .collaboration, .players .growth {
	padding: 3.1% 50.7% 3.1% 10.05%;
}
.basketballer-img {
	position: relative;
}
.basketballer-img img {
	position: absolute;
	left: 42.3%;
	max-width: 50%;
	padding-top: 1%;
}
.players .growth {
	background: #0a0e34;
}
.players .growth p {
	color: #fff;
}
.players .growth h2:before {
	color: #9173e6;
}
/*modul_3*/ 
.modul_3 {
	
}
.modul_3 h1 {
	color: #e7e7e7;
	text-transform: uppercase;
}
.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1920px;
	position: relative;	
}
.content-number {
	position: absolute;
	background: #5e42b0;
	padding: 3.125% 3.65%;
	left: 45%;    
}
.content-number--01 {
	top: 12%;
}
.content-number--02 {
	top: 25%;	
}
.content-number--03 {
	top: 25%;	
}
.content-number p {
	border-bottom: 4px solid #8f7bc8;
	font-size: 24px;
	color: #fff;
}
.content img, .text-description{
	width: 50%;
	height: 50%;
}
.text-description {
	padding-left: 6.7%;
}
.text-description h1{
	padding-top: 25.2%;
	padding-bottom: 12%;
}
.text-description p {
	max-width: 590px;
	font-size: 24px;
}

/*footer*/
footer {
	background: url(../images/game_1920.png) no-repeat;
	background-size: cover;
	max-width: 100%;
	text-transform: uppercase;
	color: #fff;
}
.footer-top {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 11.4%;
	padding-bottom: 7.6%;
}
.download-app {
	padding-left: 1.8%;
}
.download-app {
	font-size: 80px;
}
.download-app p {
	color: #a496ca;
	font-size: 28px;
}
footer .follow-me__icon {
	padding-top: 8.8%;
	padding-bottom: 2.62%;
}




